@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}
h1,h2,h3,h4,h5 {
  margin: 10px 0;
}
p,li {
  margin: 5px 0;
}
ul,ol {
  text-align: left;
  padding: 20px;
}
ul {
  list-style-type: none;
}
.show {
  transform: scale(1);
  transition: scale 1s, ease .5s;
}
.hidden {
  transform: scale(0);
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: scale .7s, ease .5s;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
.bold {
  font-weight: bold;
}

/* container */
.container {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* search bar */
.search-bar {
  background-color: #000;
  width: 100%;
  height: 60px;

  padding: 0 20px;

  display: flex;
  justify-content: space-between;
}
.logo > h1 {
  color: red;
}
.search {
  width: 40%;
  display: flex;
  align-items: center;
}
.search input {
  width: 80%;
  height: 30px;
  padding: 10px;
  border: none;
}
.search button {
  width: 20%;
  height: 30px;
  padding: 10px 20px;
  border: none;
  background-color: red;
}
.btn:hover {
  background-color: hsla(0, 80%, 50%, 1);
}

/* risultati */
.results {
  width: 100%;
  height: calc(100vh - 60px);

  background-color: #222;
  color: #fff;

  overflow-y: auto;
}
.results > h1 {
  margin: 20px;
}
.result-film,
.result-series {
  padding-bottom: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  overflow-x: auto;
}
.card {
  min-width: 400px;
  width: 400px;
  border: 1px solid #fff;
  margin: 0 20px;
}
.card i.fa-star {
  color: yellow;
}
img.flag {
  width: 25px;
  vertical-align: middle;
}
img.poster {
  width: 100%;
}
.error {
  color: #fff;
  padding: 0 20px;
}

@media all and (max-width: 768px) {
  .container {
    min-width: 100%;
    min-height: 100vh;
  }
  .search-bar {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  .logo,
  .search {
    width: 100%;
  }
  .results {
    height: calc(100vh - 120px);
  }
  .result-film,
  .result-series {
    width: 100%;
    min-width: 100%;
    display: block;
  }
  .card {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }

}
