@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
}
h1,h2,h3,h4,h5 {
  margin: 10px 0;
}
p,li {
  margin: 5px 0;
}
ul,ol {
  text-align: left;
  padding: 20px;
}
ul {
  list-style-type: none;
}
.show {
  transform: scale(1);
  transition: scale 1s, ease .5s;
}
.hidden {
  transform: scale(0);
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  transition: scale .7s, ease .5s;
}
.red {
  color: red;
}
.grey {
  color: grey;
}
.bold {
  font-weight: bold;
}

/* container */
.container {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* search bar */
.search-bar {
  background-color: #000;
  width: 100%;
  height: 60px;

  padding: 0 30px;

  display: flex;
  justify-content: space-between;
}
.logo > h1 {
  color: red;
  text-transform: uppercase;
}
.search {
  width: 40%;
  display: flex;
  align-items: center;
}
.search input {
  width: 80%;
  height: 30px;
  padding: 10px;
  border: none;
}
.search button {
  width: 20%;
  height: 30px;
  padding: 10px 20px;
  border: none;
  background-color: red;
}
.search button:hover {
  background-color: hsla(0, 80%, 50%, 1);
}

/* risultati */
.results {
  width: 100%;
  height: calc(100vh - 60px);

  background-color: #222;
  color: #fff;

  overflow-y: auto;
}
.result-film,
.result-series {
  padding: 30px;
}
.list-film,
.list-series {
  padding: 30px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  overflow-x: auto;
  overflow-y: hidden;
}

/* cards */
.card {
  position: relative;
  min-width: 342px;
  min-height: 513px;

  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #fff;
  margin-right: 30px;
  animation: fade-in 2s;
  cursor: pointer;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  overflow-y: auto;
}
.card-title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  font-size: 2em;
  text-align: center;
  color: #fff;
  text-shadow: 4px 2px 4px #222;
  opacity: 1;
}
.card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(2,2,2,0.8);
  opacity: 0;
}
.card:hover {
  transform: scale(1.1);
  z-index: 999;
  transition: transform 0.5s;
}
.card:hover .card-info {
  opacity: 1;
  transition: opacity 1s;
}
.card:hover .card-title {
  opacity: 0;
  transition: opacity 1s;
}
.card i.fa-star {
  color: yellow;
}
img.flag {
  width: 25px;
  vertical-align: middle;
}

.error {
  color: #fff;
  padding: 0 20px;
}

@media all and (max-width: 768px) {
  .container {
    min-width: 100%;
    min-height: 100vh;
  }
  .search-bar {
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  .logo,
  .search {
    width: 100%;
  }
  .results {
    height: calc(100vh - 120px);
  }
  .list-film,
  .list-series {
    width: 100%;
    min-width: 100%;
    display: block;
    padding: 10px;
  }
  .card {
    min-width: 100%;
    margin: 10px 0;
  }
  .card:hover {
    transform: scale(1);
    z-index: 999;
    transition: transform 0.5s;
  }

}

/* animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
